.primertitulo {
    text-align: center;
    background-color: teal;
}

.articulo {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-left: 300px;
    margin-right: 300px;
    color: blanchedalmond;

}
body {
    background-color: rgb(16, 32, 48);
}
.center {
     
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}
#piedepagina {
    text-align: center;
}
